<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../../../public/static/login.css">
    <title>创建战队</title>
</head>
<body>
<div class="title"><b>创建战队</b></div>
<!--<form action="logout">-->
<!--    <button>退出登录</button>-->
<!--</form>-->

<form method="POST" action="createteam">
    <div class="center">
        <input type="text" id="name" placeholder="队伍名..." name="team_name"><br>
        <input type="text" id="name2" placeholder="队伍邀请码..." name="team_code"><br>
    </div>
    <div class="button_row">
        <button>login</button>

    </div>
</form>
</body>
</html>