<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../../../public/static/login.css">
    <title>登录</title>
</head>
<body>
<div class="title"><b>欢 迎 登 录  ·  管理员</b></div>
<form method="POST" action="login">
    <div class="center">
        <input type="text" id="name" placeholder="账号..." name="username"><br>
        <input type="password" id="pwd" placeholder="密码..." name="password">
    </div>
    <div class="button_row">
        <button>login</button>
    </div>
</form>
</body>
</html>